@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  html,
  body {
    min-height: 100%;
    width: 100%;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
  }

  input,
  textarea,
  select,
  button {
    font: inherit;
    color: inherit;
    border: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    appearance: none;
  }

  button,
  a {
    touch-action: manipulation;
  }

  svg,
  img,
  picture,
  video,
  iframe,
  canvas {
    display: block;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding: 0;
  }
}